.dashboard-container{
    display: flex;
    flex-direction: row;
}

.count-of-all{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    gap: 1vw;
}

.employeecount-container{
    width: 20vw;
    height: 8vw;
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 20px;
}

.projectcount-container{
    width: 20vw;
    height: 8vw;
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 20px;
}

.clientcount-container{
    width: 20vw;
    height: 8vw;
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 20px;
}