.admin-events {
  padding: 20px;
}

.event-form-toggle,
.show-event-list-btn {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.event-form-toggle:hover,
.show-event-list-btn:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.centered-form {
  display: flex;
  flex-direction: column;
}

.centered-form div {
  margin-bottom: 10px;
}

.event-list {
  display: flex;
  flex-direction: column;
}

.event-item {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.event-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.event-actions {
  display: flex;
  justify-content: space-between;
}

.event-action-icon {
  cursor: pointer;
  font-size: 20px;
  color: #dc3545; /* Bootstrap danger color */
}

.event-action-icon:hover {
  color: #c82333; /* Darker shade on hover */
}